.block1{
    width: 402px;
    height: 739px;
    background: linear-gradient(130.21deg, rgba(67, 142, 255, 0.3) 10.9%, rgba(67, 142, 255, 0) 48.13%);
    opacity: 0.23;
}

.block2{
    width: 402px;
    height: 739px;
    background: linear-gradient(310.21deg, rgba(67, 142, 255, 0.3) 10.9%, rgba(67, 142, 255, 0) 48.13%);
    opacity: 0.23;
}

.block4{
    width: 202px;
    height: 409px;
    background: linear-gradient(220.21deg, rgba(67, 142, 255, 0.3) 10.9%, rgba(67, 142, 255, 0) 48.13%);
    opacity: 0.23;
}

.block5{
    width: 202px;
    height: 409px;
    background: linear-gradient(310.21deg, rgba(67, 142, 255, 0.3) 10.9%, rgba(67, 142, 255, 0) 48.13%);
    opacity: 0.23;
}



.block3{
    height: 451px;
    background: #3181FA;
    filter: blur(400px);
}